.menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #1a1a1a;
    color: white;
}

.menu-content {
    text-align: center;
    width: 300px; /* Opcjonalnie, ¿eby nie by³o zbyt szerokie */
}

.menu-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

    .menu-button.start {
        background-color: blue;
        color: white;
    }

    .menu-button.settings {
        background-color: green;
        color: white;
    }

    .menu-button.exit {
        background-color: red;
        color: white;
    }

    .menu-button:hover {
        opacity: 0.8;
    }
